.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;

}

.btn {
	background-color: green;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.servi {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}

.btn-learn {
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon{
	padding-right: 10px; 
}

.card-designers{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}